.bg-color {
    background-color: #a6e2ff;
}

.bg-nav {
    background-color: #e6a2bf;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #a6e2ff;
    color:  #fff;
    border-radius: 0;
}

.nav-pills .nav-link.active:hover, .nav-pills .show > .nav-link {
    background-color: #a6e2ff;
    color: #fff !important;
}

a {
    color: #fff !important;
    
}

a:hover {
    color: #a6e2ff !important;
    text-decoration: none;
}

.btn-outline-info {
    color:  #a6e2ff;
    border-color:  #a6e2ff;
}

.btn-outline-info:hover {
    background-color: #e6a2bf;
    border-color:  #e6a2bf;
}

.btn-primary {
    background-color: #e6a2bf;
    border-color: #e6a2bf;
}

.btn-primary:hover {
    background-color: #a37187;
    border-color: #a37187;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.right-60 {
    right: 60rem;
}

.right-50 {
    right: 50rem;
}

.bottom-40 {
    bottom: 40vh;
}

.right-40 {
    right: 40rem;
}

.bottom-30 {
    bottom: 30vh;
}

.right-30 {
    right: 30rem;
}

.bottom-20 {
    bottom: 20vh;
}

.right-20 {
    right: 20rem;
}

.bottom-10 {
    bottom: 10vh;
}

.right-10 {
    right: 10rem;
}

.h-100vh {
    height: 100vh;
}