{% extends 'base.html' %}

{% block title %}Kontakty{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
        <a class="nav-link active rounded-top pb-3 mt-2" href="{% url 'kontakty' %}"><i class="fas fa-address-book"></i> Kontakty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mt-2 pb-3" href="{% url 'notatki' %}"><i class="fas fa-quote-left"></i> Notatki</a>
      </li>
    </ul>
    <span class="navbar-text pb-0 mb-0">
        <span class="text-white bg-light text-dark rounded-top font-weight-bold mt-2 pb-3"  style="padding: .5rem 1rem;">
            <i class="fas fa-user-alt"></i> {{ user.username }}
        </span>
        <a href="{% url 'logout' %}" style="padding: .5rem 1rem;">
            <i class="fas fa-sign-out-alt"></i> Wyloguj
        </a>
    </span>
  </nav>
  <main class="container-fluid">
    <div class="row h-100">
        <div class="col-lg-9 p-4">
            {% if contact %}
                <table class="table rounded table-light table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nr. Telefonu</th>
                            <th scope="col">Email</th>
                            <th scope="col">Placówka</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ctcts in contact %}
                            <tr>
                                <td>{{ ctcts.last_name }}</td><td>{{ ctcts.first_name }}</td><td>{{ ctcts.phone_number }}</td><td>{{ ctcts.email_address }}</td><td>{{ ctcts.branch }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Brak kontaktów do wyświetlenia
            {% endif %}
        </div>
        <div class="col-lg-3 bg-light h-100 right-0 position-fixed">
            <form method="POST" class="form p-3">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="float-right btn btn-outline-info" alt="Dodaj placówkę" data-toggle="modal" data-target="#BForm"><i class="fas fa-plus"></i></button>
                <button type="submit" class="btn btn-outline-info"><i class="fas fa-user-plus"></i> Dodaj</button>
            </form>
        </div>

        <div class="modal fade" id="BForm" tabindex="-1" role="dialog" aria-labelledby="BFormLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj placówkę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <form method="POST" calss="form">
                                {% csrf_token %}
                                {{ BForm|crispy }}
                                <button type="submit" class="btn btn-outline-info"><i class="fas fa-plus"></i> Dodaj</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}